---
http_interactions:
- request:
    method: get
    uri: https://conjur-master.itp.conjur.net/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Conjur-Health:
      - OK
    body:
      encoding: UTF-8
      string: |-
        {
          "services": {
            "audit": "ok",
            "authn": "ok",
            "ldap-sync": "ok",
            "authz": "ok",
            "rotation": "ok",
            "expiration": "ok",
            "host-factory": "ok",
            "ldap": "ok",
            "pubkeys": "ok",
            "core": "ok",
            "ok": true
          },
          "database": {
            "ok": true,
            "connect": {
              "main": "ok",
              "archive": "ok"
            },
            "free_space": {
              "main": {
                "inodes": 1065776,
                "kbytes": 14543192
              },
              "archive": {
                "inodes": 1065776,
                "kbytes": 14543192
              }
            },
            "replication_status": {
              "pg_stat_replication": [
                {
                  "usename": "conjur-follower-conjurops-4-8-0-rc2.us-east-1.itp.conjur.net",
                  "application_name": "follower",
                  "client_addr": "54.211.178.99",
                  "backend_start": "2016-11-14 17:37:17 +0000",
                  "state": "streaming",
                  "sent_location": "8/EC9C6D0",
                  "replay_location": "8/EC9C6D0",
                  "sync_priority": 0,
                  "sync_state": "async",
                  "sent_location_bytes": 2395588304,
                  "replay_location_bytes": 2395588304,
                  "replication_lag_bytes": 0
                },
                {
                  "usename": "conjur-follower-conjurops-4-8-0-rc2.us-east-1.itp.conjur.net",
                  "application_name": "follower",
                  "client_addr": "107.23.142.215",
                  "backend_start": "2016-11-14 17:37:21 +0000",
                  "state": "streaming",
                  "sent_location": "8/EC9C6D0",
                  "replay_location": "8/EC9C6D0",
                  "sync_priority": 0,
                  "sync_state": "async",
                  "sent_location_bytes": 2395588304,
                  "replay_location_bytes": 2395588304,
                  "replication_lag_bytes": 0
                },
                {
                  "usename": "localhost",
                  "application_name": "standby",
                  "client_addr": "107.21.89.217",
                  "backend_start": "2016-11-14 17:37:21 +0000",
                  "state": "streaming",
                  "sent_location": "8/EC9C6D0",
                  "replay_location": "8/EC9C6D0",
                  "sync_priority": 0,
                  "sync_state": "async",
                  "sent_location_bytes": 2395588304,
                  "replay_location_bytes": 2395588304,
                  "replication_lag_bytes": 0
                }
              ],
              "pg_current_xlog_location": "8/EC9C6D0",
              "pg_current_xlog_location_bytes": 2395588304
            },
            "archive_replication_status": {
              "pg_stat_replication": [
                {
                  "usename": "localhost",
                  "application_name": "standby",
                  "client_addr": "107.21.89.217",
                  "backend_start": "2016-11-14 17:37:21 +0000",
                  "state": "streaming",
                  "sent_location": "7F/8FD36528",
                  "replay_location": "7F/8FD36528",
                  "sync_priority": 0,
                  "sync_state": "async",
                  "sent_location_bytes": 547873842472,
                  "replay_location_bytes": 547873842472,
                  "replication_lag_bytes": 0
                }
              ],
              "pg_current_xlog_location": "7F/8FD36528",
              "pg_current_xlog_location_bytes": 547873842472
            }
          },
          "ok": true
        }
  recorded_at: Tue, 06 Dec 2016 16:57:30 GMT
recorded_with: VCR 3.0.3
