
<% @health['database']['replication_status']["pg_stat_replication"].each do |metric| %>
  <table class="table-sm table-bordered">
    <thead>
      <tr>
        <th class='center'>Metric</th>
        <th class='center'>Status</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% metric.each do |key, value| %>
            <tr>
              <td><%= key %>:</td>
              <td class='center'><%= value %></td>
            </tr>
          <% end %>
        </tr>
    </tbody>
  </table>
<% end %>

