<table class="table-sm">
  <thead>
    <tr>
      <th class='center'>Service</th>
      <th class='center'>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @health.services.to_h.each do |name, status| %>
      <tr>
        <td><%= name %>:</td>
        <% if status == 'ok' || status == true %>
          <td class='text-success center'><%= status %></td>
        <% else %>
          <td class='text-danger center'><%= status %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
