@import "bootstrap";

// .container {
//   padding: 0;;
// }

// .col-md-4 {
//   margin: 0;
// }

.center {
  text-align: center;
}

.table-sm {
  margin: 0;
}

.title {
  color: blue;
}

.container {
  background-color: #f8f8ff;
}
