@import "bootstrap";

.page-header {
   margin: 10px 0 20px 0;
   background: #5DADE2;
   padding: 5px;
   border-radius: 5px;
}

.center {
  text-align: center;
}

.table-sm {
  margin: 0;
}

.title {
  color: blue;
}

.container {
  background-color: #f8f8ff;
  border-radius: 5px;
}
